/* index.php */
body {
  background-color: rgb(119, 197,235);
  text-align: center;
}

footer {
	font-size: 10px;
}

.bg-success {
	
}

#bigHeading {
	font-size: 50px;
	font-weight: bold;
}

#wrapper {
	width: 70%;
	min-width: 900px;
	margin: 0 auto;
}

.popupHead {
	font-size: 30px;
	color: rgb(119, 197,235);
	width: 100%;
	height: 60px;
    padding-top: 8px;
    font-weight: bold;
	background-color: rgb(36, 108, 167);
	border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

hr {
	color: white;
	width: 100%;
}

.header {
	padding-top: 20px;
	padding-bottom: 10px; 
	width: 100%;
	vertical-align: middle;
}

.logoSection {
	text-align: left;
	vertical-align: top;
	height: 100%;
	color: white;
}

.tabSection {
}

.column {
    float: left;
    padding: 0 15px;
}

.span_4 {
    width: 33.3333%;
}

.span_8 {
    width: 66.6667%;
}

.popupFormTable {
	width: 90%;
	height: 70%;
	margin-left: 5%;
}

.popupFormTable td {
	height: 50px;
}

#importanceSelect{
	margin-left:-20px;
	height: 40px;
}

.inputLabel, #pdfLabel {
	width: 150px;
	text-align: right;
	font-size: 15px;
	font-family: arial;
	color: rgb(36, 108, 167);
}

#pdfLabel {
	padding-left: 20px;
	width: 180px;
}

.inputBox {
	width: 300px;
}

.inputBox input {
	width: 80%;
	height: 40px;
	box-shadow: none;
	border: 1px solid rgb(119, 197,235);

	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.tabSection a {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	color: white;
	font-size: 15px;
	font-weight: bold;

	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.tabSection a:hover {
    color: rgb(119, 197,235);
    background-color: white;
    text-decoration: none;
}

.buttons {
	margin-top: 25px;
	text-align: right;
}

#UploadJobButton {
	margin-bottom: 20px;
}

#LoginButton, #RegisterButton, .UploadCVButton, #checkRankingButton, .ViewCVButton, #phpCVForm {
	margin-left: 10px;
	border: none;
	color: rgb(10, 85, 148);
	padding-top: 2px;
	padding-bottom: 2px;
}



#rankViewCVButton {
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
    
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

#uploadCVSection {
	text-align: center;
	display: inline-block;
}

#phpCVForm {
	margin: 0 auto;
	margin-top: 20px;
}

#phpCVButton {
	margin-bottom: 20px;
	padding-left: 80px;
}

#LogoutButton {
	border: none;
	color: white;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color:rgb(7, 68, 119);
}

.tabs {
	padding-top: 30px;
	height: 69px;
	float: left;
	margin: 0 auto;
}

#loginBox, #postJobBox, #registerBox{
    position: fixed;
    top: 45%;
    left: 45%;
    width: 40em;
    height: 25em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    background-color: rgba(236, 247, 255, 1);
    box-shadow: 8px 8px 8px rgba(4, 52, 92, 0.5);

	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

#registerBox {
	top: 40%;
	height: 30em;
}

#postJobBox {
	top: 20%;
	height: 50em;
	left: 42%;
    width: 45em;
}

#postJobBox #jobSubmitButton {
	margin-top: 15px;
}

#blockMask {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4); 
	display: block;
	height: 100%; 
	width: 100%;
}

#loginSubmitButton {
	margin-top: 20px;
	margin-bottom: 15px;
}

.assistantButton {
	margin-bottom: 5px;
}

.cancelButton {
	position: absolute;
	right: 10px;
	top: 10px;
	border:none;
	box-shadow:none;
	background-color: transparent;
}

.cancelButton img {
	width: 40px;
	height: 40px;
}

/* aboutUs.php */
.selfIntroduction {
	padding-top: 20px;
}

.selfIntroduction table {
	margin-top: 50px;
}

.selfIntroduction table tr {
	height: 150px;
	width: 400px;
}

.selfIntroduction table .name {
	width: 200px;
	font-weight: bold;
	color: rgb(36, 108, 167);
}

.selfIntroduction table .description {
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}


.selfIntroduction table tr td:first-child {
	background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid white;
}

.selfIntroduction table tr td:last-child {
	background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid white;
}

.selfIntroduction .oneSentence {
	color: white;
}

/* jobPortal.php */
.jobTable {
	margin: 0 auto;
}

.jobTable .tableLabel{
	background-color: rgb(36, 108, 167);
	color: white;
	font-weight: bold;
	height: 50px;
}

.jobTable .tableLabel td{
	border: 1px solid white;
}

.oddLine {
	background-color: rgba(255, 255, 255, 0.6);
}

.evenLine {
	background-color: rgba(255, 255, 255, 0.9);
}

.jobTable tr td:first-child, .jobDescriptionTable tr td:first-child{
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.jobTable tr td:last-child, .jobDescriptionTable tr td:last-child {
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

.jobTable .jobTitle{
	width: 200px;
	font-weight: bold;
}

.jobTable .jobEntry .jobTitle{
	text-decoration: underline;
}

.jobTable .jobCompany{
	width: 200px;
}

.jobTable .jobEntry .jobDescription {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3; /* number of lines to show */
   line-height: 20px;        /* fallback */
   max-height: 80px;       /* fallback */
   margin-top: 15px;
   margin-bottom: 15px;
}

.jobTable .jobStatus{
	width: 150px;
}

/* myAccount.php */
.myAccountInfoPane {
	text-align: center;
	width: 100%;
}

.myAccountHeading {
	color:rgb(7, 68, 119);
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

.myAccountInfoPane table {
	width: 400px;
	text-align: left;
	color: rgba(36, 108, 167, 0.9); 
	margin-left: 35%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.myAccountInfoPane table .info {
	font-size: 15px;
	vertical-align: top;
}

.myAccountInfoPane table .label {
	font-weight: bold;
	font-size: 15px;
	color: rgba(36, 108, 167, 0.9); 
	vertical-align: middle;
}

.myAccountInfoPane table td {
	height: 30px;
}





.myJobListTable {
	margin: 0 auto;
	margin-top: 20px;
}

.myJobListTable .myJobLabel{
	background-color: rgb(36, 108, 167);
	color: white;
	font-weight: bold;
	height: 50px;
}

.myJobListTable .myJobLabel td{
	border: 1px solid white;
}

.myJobListTable tr td:first-child {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.myJobListTable tr td:last-child {
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

.myJobListTable .myJobPosition{
	width: 200px;
	font-weight: bold;
}

.myJobListTable .myJobEntry .myJobPosition{
	text-decoration: underline;
	color: rgb(36, 108, 167);
}

.myJobListTable .myJobDate, .myJobCandidates{
	width: 120px;
}

.myJobListTable .myJobStatus {
	width: 100px;
}

.myJobListTable .myJobEntry .myJobDescription {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3; /* number of lines to show */
   line-height: 20px;        /* fallback */
   max-height: 80px;       /* fallback */
   margin-top: 15px;
   margin-bottom: 15px;
}

#tagArea {
	text-align: left;
	width: 500px;
	margin: 0 auto;
	margin-top: 20px;
}

.tag {
	display: inline;
	text-align: center;
}

.tag p{
	font-size: 15px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	background-color: rgb(36, 108, 167);
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

/* jobPage.php */
.jobDescriptionTable {
	width: 80%;
	margin: 0 auto;
	text-align: left;
}

.jobDescriptionTable tr{
	height: 50px;
}

.jtLabel {
	color: rgb(36, 108, 167);
	font-weight: bold;
	font-size: 15px;
	width: 170px;
	padding-left: 20px;
}

.jtDescription {
	padding-top: 15px;
	padding-bottom: 15px;
}

.rankTable {
	width: 100%;
}

.rankTable .rankLabel{
	background-color: rgb(36, 108, 167);
	color: white;
	font-weight: bold;
	height: 50px;
}

.rankTable .rankLabel td{
	border: 1px solid white;
}

.oddLine {
	background-color: rgba(255, 255, 255, 0.6);
}

.evenLine {
	background-color: rgba(255, 255, 255, 0.9);
}

.rankTable tr td:first-child {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.rankTable tr td:last-child {
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

.rankTable .jobTitle{
	width: 200px;
	font-weight: bold;
}

.rankEntry {
	height: 40px;
}

.rankTable .rankEntry .rankName{
	text-decoration: underline;
	color: rgb(36, 108, 167);
	font-weight: bold;
	font-size: 15px;
}

.rankTable .rankIndex {
	width: 30px;
}

.rankTable .rankName, .rankTable .rankPhone {
	width: 110px;
} 

.rankTable .rankEmail{
	width: 160px;
}

.rankTable .rankViewCV{
	width: 100px;
}

.rankTable .rankEntry .rankSummary {
   text-align: left;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 4; /* number of lines to show */
   line-height: 20px;        /* fallback */
   max-height: 100px;       /* fallback */
   margin-top: 10px;
   margin-bottom: 15px;
   padding-left: 5px;
   padding-right: 5px;
}

.rankTable .jobStatus{
	width: 150px;
}